<img src={{activityImage}} class="activity-cell-image">
<div class="activity-cell-info">
  <div class="activity-cell-timestamp">
    {{moment-format activity.createdAt "MMM D YYYY, h:mm a"}}
  </div>
  <div class="activity-cell-description">
    {{#if (eq activity.type "buy_pack")}}
      {{#if activity.premium}}
        {{t "activity-cell.bought-premium" htmlSafe=true}}
      {{else}}
        {{t "activity-cell.bought-standard" htmlSafe=true}}
      {{/if}}
    {{else if (eq activity.type "withdraw_commission")}}
      {{t "activity-cell.withdraw-commission" commissionAmount=activity.commissionAmount htmlSafe=true}}
    {{else if (eq activity.type "claim_bonus_card")}}
      {{t "activity-cell.claim-bonus-card" bonusPlayerName=activity.bonusPlayerName htmlSafe=true}}
    {{else if (eq activity.type "cancel_trade")}}
      {{t "activity-cell.cancel-trade" tradeString=activity.tradeString htmlSafe=true}}
    {{else if (eq activity.type "claim_whitelist_pack")}}
      {{t "activity-cell.claim-whitelist-pack" packString=(if activity.premium "Premium" "Standard") htmlSafe=true}}
    {{else if (eq activity.type "claim_referral_pack")}}
      {{t "activity-cell.claim-referral-pack" htmlSafe=true}}
    {{else if (eq activity.type "buy_pack_with_kitty")}}
      {{t "activity-cell.buy-pack-with-kitty" kittyId=activity.kittyId htmlSafe=true}}
    {{else if (eq activity.type "fill_trade")}}
      {{t "activity-cell.fill-trade" tradeString=activity.tradeString warning=(if activity.trade.isOpenTrade "hope nobody beats you to it!" "so it could still be cancelled by the creator.") htmlSafe=true}}
    {{else if (eq activity.type "create_trade")}}
      {{t "activity-cell.create-trade" tradeString=activity.tradeString htmlSafe=true}}
    {{else if (eq activity.type "make_pick")}}
      You submitted <span>{{activity.submittedCard.checklistItem.player.name}}</span> as your pick for game <span>#{{activity.gameNumber}}</span>. This pick will only be valid if the transaction is processed before match kickoff. Your selected card will only appear on the <span>{{link-to "Play" "play"}}</span> page once this transaction is processed.
    {{/if}}
  </div>
</div>
<div class="activity-cell-buttons">
  {{#if showViewCards}}
    {{link-to (t "activity-cell.view-cards") "activity.show" activity.id class="view-cards-link"}}
  {{/if}}
  {{#if activity.txnHash}}
    <a href={{activity.etherscanUrl}} class="btn btn-outline-dark activity-cell-button" target="_blank">{{t "activity-cell.track"}}</a>
  {{/if}}
  {{#if (eq activity.type "create_trade")}}
    {{link-to (t "activity-cell.view-trade") "trades" activity.trade.id class="view-cards-link"}}
    {{#copy-button class="btn btn-outline-dark activity-cell-button" clipboardText=activity.trade.url}}{{t "activity-cell.copy-link"}}{{/copy-button}}
  {{/if}}
</div>
