{{#if (eq activity.type "buy_pack")}}
  {{#link-to "activity.show" activity.id}}
    <p>You bought a {{if activity.premium "Premium" "Standard"}} Pack on {{moment-format activity.createdAt}}</p>
    <p>Transaction: {{activity.txnHash}}</p>
  {{/link-to}}
{{else if (eq activity.type "claim_whitelist_pack")}}
  {{#link-to "activity.show" activity.id}}
    <p>You claimed a free {{if activity.premium "Premium" "Standard"}} Pack on {{moment-format activity.createdAt}}</p>
    <p>Transaction: {{activity.txnHash}}</p>
  {{/link-to}}
{{else if (eq activity.type "buy_pack_with_kitty")}}
  {{#link-to "activity.show" activity.id}}
    <p>You traded in Kitty #{{activity.kittyId}} on {{moment-format activity.createdAt}}</p>
    <p>Transaction: {{activity.txnHash}}</p>
  {{/link-to}}
{{else if (eq activity.type "create_trade")}}
  <p>You created a trade: {{activity.tradeString}}.</p>
  {{link-to activity.trade.url "trades" activity.trade.id}}
  {{#copy-button
    class="ml-2"
    clipboardText=activity.trade.url
  }}
    {{fa-icon "copy"}}
  {{/copy-button}}
{{else if (eq activity.type "fill_trade")}}
  <p>You accepted a trade: {{activity.tradeString}}.</p>
  <p>The transaction can take a few minutes to mine, so hope nobody beats you to it!</p>
  <p><a href={{activity.etherscanUrl}} target="_blank">View Transaction Here</a></p>
{{else if (eq activity.type "cancel_trade")}}
  <p>You canceled a trade: {{activity.tradeString}}.</p>
  <p>The transaction can take a few minutes to mine, so somebody may still fill the trade.</p>
  <p><a href={{activity.etherscanUrl}} target="_blank">View Transaction Here</a></p>
{{else if (eq activity.type "claim_bonus_card")}}
  <p>You claimed your bonus {{activity.bonusPlayerName}} Iconic on {{moment-format activity.createdAt}}</p>
  <p>Transaction: {{activity.txnHash}}</p>
{{else if (eq activity.type "withdraw_commission")}}
  <p>You withdrew {{activity.commissionAmount}} ETH of referral earnings on {{moment-format activity.createdAt}}</p>
  <p>Transaction: {{activity.txnHash}}</p>
{{/if}}
