<img src={{activityImage}} class="activity-cell-image">
<div class="activity-cell-info">
  <div class="activity-cell-timestamp">
    {{moment-format activity.createdAt "MMM D YYYY, h:mm a"}}
  </div>
  <div class="activity-cell-description">
    {{#if (eq activity.type "buy_pack")}}
      You bought a <span>{{if activity.premium "Premium" "Standard"}}</span> Pack.
    {{else if (eq activity.type "withdraw_commission")}}
      You withdrew <span>{{activity.commissionAmount}} ETH</span> of referral earnings.
    {{else if (eq activity.type "claim_bonus_card")}}
      You claimed your bonus <span>{{activity.bonusPlayerName}}</span> Iconic.
    {{else if (eq activity.type "cancel_trade")}}
      You canceled a <span>{{activity.tradeString}}</span> trade. The transaction can take a few minutes to mine, so somebody may still fill it.
    {{else if (eq activity.type "claim_whitelist_pack")}}
      You used your whitelist allocation for a free <span>{{if activity.premium "Premium" "Standard"}}</span> Pack.
    {{else if (eq activity.type "claim_referral_pack")}}
      You claimed your free <span>Standard</span> Pack for signing up through a referral link.
    {{else if (eq activity.type "buy_pack_with_kitty")}}
      You traded in Kitty <span>#{{activity.kittyId}}</span> for a free pack of cards.
    {{else if (eq activity.type "fill_trade")}}
      You accepted a <span>{{activity.tradeString}}</span> trade. The transaction can take a few minutes to mine, so hope nobody beats you to it!
    {{else if (eq activity.type "create_trade")}}
      You created a <span>{{activity.tradeString}}</span> trade.
    {{/if}}
  </div>
</div>
<div class="activity-cell-buttons">
  {{#if showViewCards}}
    {{link-to "View Cards" "activity.show" activity.id class="view-cards-link"}}
  {{/if}}
  {{#if activity.txnHash}}
    <a href={{activity.etherscanUrl}} class="btn btn-outline-dark activity-cell-button" target="_blank">Track</a>
  {{/if}}
  {{#if (eq activity.type "create_trade")}}
    {{link-to "View Trade" "trades" activity.trade.id class="view-cards-link"}}
    {{#copy-button class="btn btn-outline-dark activity-cell-button" clipboardText=activity.trade.url}}Copy Link{{/copy-button}}
  {{/if}}
</div>
