{{#if (eq activity.type "buy_pack")}}
  {{#link-to "activity.show" activity.id}}
    <p>You bought a {{if activity.premium "Premium" "Standard"}} Pack on {{moment-format activity.createdAt}}</p>
    <p>Transaction: {{activity.txnHash}}</p>
  {{/link-to}}
{{else if (eq activity.type "buy_pack_with_kitty")}}
  {{#link-to "activity.show" activity.id}}
    <p>You traded in Kitty #{{activity.kittyId}} on {{moment-format activity.createdAt}}</p>
    <p>Transaction: {{activity.txnHash}}</p>
  {{/link-to}}
{{else if (eq activity.type "create_trade")}}
  <p>You created a trade: {{activity.trade.prettyString}}.</p>
  {{link-to activity.trade.url "trades" activity.trade.id}}
  {{#copy-button
    class="ml-2"
    clipboardText=activity.trade.url
  }}
    {{fa-icon "copy"}}
  {{/copy-button}}
{{else if (eq activity.type "fill_trade")}}
  <p>You accepted a trade: {{activity.trade.prettyString}}.</p>
  <p>The transaction can take a few minutes to mine, so hope nobody beats you to it!</p>
  <p><a href="https://rinkeby.etherscan.io/tx/{{activity.txnHash}}" target="_blank">View Transaction Here</a></p>
{{else if (eq activity.type "cancel_trade")}}
  <p>You canceled a trade: {{activity.trade.prettyString}}.</p>
  <p>The transaction can take a few minutes to mine, so somebody may still fill the trade.</p>
  <p><a href="https://rinkeby.etherscan.io/tx/{{activity.txnHash}}" target="_blank">View Transaction Here</a></p>
{{/if}}
