<div class="col-md-6 d-flex">
  <h2>{{t "buy-packs.card-of-the-day.title"}}</h2>
  <p>#{{checklistItem.id}} - {{checklistItem.player.name}}</p>
  <p>{{t "buy-packs.card-of-the-day.line1"}}</p>
  <p>{{t "buy-packs.card-of-the-day.line2"}}</p>
  <p>{{t "buy-packs.card-of-the-day.line3"}}</p>
</div>
<div class="col-md-6">
  <img src={{checklistItem.filepath}} class="img-fluid">
</div>
