<h2 class="card-attributes-header">Attributes</h2>
<div class="row">
  <div class="col-6">
    <div class="attribute-cell">
      {{#if (eq checklistItem.checklistSet.name "Originals")}}
        <img class="attribute-cell-img" src="/assets/images/original.svg">
      {{else}}
        <img class="attribute-cell-img" src="/assets/images/iconic.svg">
      {{/if}}
      <div class="attribute-cell-value">{{checklistItem.checklistSet.name}}</div>
      <div class="attribute-cell-title">Set</div>
    </div>
  </div>
  {{#if (eq checklistItem.checklistSet.name "Originals")}}
    <div class="col-6">
      <div class="attribute-cell">
        <img class="attribute-cell-img" src="/assets/images/{{checklistItem.tier.name}}.svg">
        <div class="attribute-cell-value">{{checklistItem.tier.name}}</div>
        <div class="attribute-cell-title">Rarity</div>
      </div>
    </div>
  {{/if}}
  {{#if card}}
    <div class="col-6">
      <div class="attribute-cell">
        <img class="attribute-cell-img" src="/assets/images/serial-number.svg">
        <div class="attribute-cell-value">{{card.serialNumberString}}</div>
        <div class="attribute-cell-title">Serial Number</div>
      </div>
    </div>
    <div class="col-6">
      <div class="attribute-cell">
        <img class="attribute-cell-img" src="/assets/images/calendar.svg">
        <div class="attribute-cell-value">{{moment-format card.mintTime "MMM D YYYY"}}</div>
        <div class="attribute-cell-title">Mint Date</div>
      </div>
    </div>
  {{/if}}
</div>
