<h2 class="card-attributes-header">Attributes</h2>
<div class="row">
  <div class="col-6 col-md-4">
    <div class="attribute-cell">
      <div class="attribute-cell-img"></div>
      <div class="attribute-cell-info">
        <h1 class="attribute-cell-value">{{card.id}}</h1>
        <h2 class="attribute-cell-title">CryptoStrikers ID</h2>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="attribute-cell">
      <div class="attribute-cell-img"></div>
      <div class="attribute-cell-info">
        <h1 class="attribute-cell-value">Gold</h1>
        <h2 class="attribute-cell-title">Rarity</h2>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="attribute-cell">
      <div class="attribute-cell-img"></div>
      <div class="attribute-cell-info">
        <h1 class="attribute-cell-value">{{card.serialNumber}} of {{card.checklistItem.totalIssuance}}</h1>
        <h2 class="attribute-cell-title">Serial Number</h2>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="attribute-cell">
      <div class="attribute-cell-img"></div>
      <div class="attribute-cell-info">
        <h1 class="attribute-cell-value">{{card.checklistItem.checklistSet.name}}</h1>
        <h2 class="attribute-cell-title">Set</h2>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="attribute-cell">
      <div class="attribute-cell-img"></div>
      <div class="attribute-cell-info">
        <h1 class="attribute-cell-value">{{card.checklistItem.player.country.name}}</h1>
        <h2 class="attribute-cell-title">Country</h2>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="attribute-cell">
      <div class="attribute-cell-img"></div>
      <div class="attribute-cell-info">
        <h1 class="attribute-cell-value">{{moment-format card.mintTime "MM/DD/YYYY"}}</h1>
        <h2 class="attribute-cell-title">Mint Date</h2>
      </div>
    </div>
  </div>
</div>
