<div class="clickable-card-placeholder-title">
  {{#if (lt index 4)}}
    Quarterfinal {{add index 1}}
  {{else if (lt index 6)}}
    Semifinal {{sub index 3}}
  {{else if (eq index 6)}}
    Consolation
  {{else if (eq index 7)}}
    Final
  {{/if}}
</div>
<div class="clickable-card-placeholder-date">
  {{moment-format game.startTime "DD MMM - h:mma"}}
</div>
{{#if (lt index 4)}}
  <div class="clickable-card-placeholder-teams">
    <img class="emoji-flag" src="/assets/images/flags/{{game.homeTeam.name}}.png"> vs <img class="emoji-flag" src="/assets/images/flags/{{game.awayTeam.name}}.png">
  </div>
{{else}}
  <div class="clickable-card-placeholder-teams">
    Teams TBD
  </div>
{{/if}}
{{#if (lt index 4)}}
  <div class="clickable-card-placeholder-empty clickable" {{action "placeholderClicked" game.acceptedPlayers myCards}}>
    <div class="click-here-container">
      Click Here
    </div>
  </div>
{{else}}
  <div class="clickable-card-placeholder-empty">
    <div class="click-here-container">
      Coming Soon
    </div>
  </div>
{{/if}}
<button type="button" class="btn btn-primary clickable-card-placeholder-button" disabled>SUBMIT</button>
