<div class="clickable-card-placeholder-title">
  {{#if (lt game.id 4)}}
    Quarterfinal {{add game.id 1}}
  {{else if (lt game.id 6)}}
    Semifinal {{sub game.id 3}}
  {{else if (eq game.id "6")}}
    Consolation
  {{else if (eq game.id "7")}}
    Final
  {{/if}}
</div>
<div class="clickable-card-placeholder-date">
  {{moment-format game.startTime "DD MMM - h:mma"}}
</div>
<div class="clickable-card-placeholder-teams">
  <img class="emoji-flag" src="/assets/images/flags/{{game.homeTeam.name}}.png"> vs <img class="emoji-flag" src="/assets/images/flags/{{game.awayTeam.name}}.png">
</div>
{{#if card}}
  <img class={{unless matchStarted "clickable"}} src={{card.filepath}} class="card-image img-fluid" onclick={{unless matchStarted (action "placeholderClicked" game.acceptedChecklistItems myCards)}}>
{{else if matchStarted}}
  <div class="clickable-card-placeholder-empty">
    <div class="click-here-container">
      Match Started
    </div>
  </div>
{{else}}
  <div class="clickable-card-placeholder-empty clickable" {{action "placeholderClicked" game.acceptedChecklistItems myCards}}>
    <div class="click-here-container">
      Click Here
    </div>
  </div>
{{/if}}
{{#if matchStarted}}
  <button type="button" class="btn btn-primary clickable-card-placeholder-button" disabled>
    MATCH STARTED
  </button>
{{else if selectedCard}}
  <button type="button" class="btn btn-primary clickable-card-placeholder-button" {{action submitClicked game.id selectedCard}}>
    SUBMIT
  </button>
{{else}}
  <button type="button" class="btn btn-primary clickable-card-placeholder-button" disabled>
    SUBMIT
  </button>
{{/if}}
