{{input value=searchQuery placeholder="Search Players" class="mb-4"}}
Only show cards I own: {{input type="checkbox" checked=onlyShowOwned}}
<ul class="nav nav-pills">
  {{#each sets as |set|}}
    <li class="nav-item">
      <a class="nav-link {{if (eq set.id selectedSetId) "active"}}" href="#" {{action (mut selectedSetId) set.id}}>{{set.name}}</a>
    </li>
  {{/each}}
</ul>
<h6 class="card-count my-4 opacity-30">{{filteredItems.length}} cards</h6>
<div class="row">
  {{#each filteredItems as |checklistItem|}}
    <div class="col-6 col-sm-4 col-md-3">
      {{card-tile checklistItem=checklistItem checklistItemToOwnedCount=checklistItemToOwnedCount class="mb-4"}}
    </div>
  {{/each}}
</div>
