{{input value=searchQuery placeholder="Search Players" class="form-control"}}
<ul class="nav nav-pills">
  {{#each checklistSets as |checklistSet|}}
    <li class="nav-item">
      <a class="nav-link {{if (eq checklistSet.id selectedSetId) "active"}}" href="#" {{action (mut selectedSetId) checklistSet.id}}>{{checklistSet.localizedName}}</a>
    </li>
  {{/each}}
  <li class="nav-item fake-nav-item"></li>
</ul>
<div class="filterable-card-grid-sub">
  <div class="form-check">
    {{input id="ownedCheckbox" type="checkbox" checked=onlyShowOwned class="form-check-input"}}
    <label class="form-check-label" for="ownedCheckbox">Only Show Owned</label>
  </div>
  <h6 class="card-count">{{filteredItems.length}} cards</h6>
</div>
<div class="row">
  {{#each filteredItems as |checklistItem|}}
    <div class="col-6 col-md-4 col-lg-3">
      {{card-tile checklistItem=checklistItem checklistItemToOwnedCount=checklistItemToOwnedCount class="mb-4"}}
    </div>
  {{else}}
    <div class="col text-center">
      <h5>
        {{#if ownsZeroCards}}
          <p>You have no cards yet.</p>
          <p>You can get started by {{link-to "buying a pack" "buy-packs"}}.</p>
        {{else}}
          <p>No cards matching those filters.</p>
        {{/if}}
      </h5>
    </div>
  {{/each}}
</div>
