{{input value=searchQuery placeholder="Search Players" class="mb-4"}}
Only Show Owned: {{input type="checkbox" checked=onlyShowOwned}}
<ul class="nav nav-pills">
  {{#each checklistSets as |checklistSet|}}
    <li class="nav-item">
      <a class="nav-link {{if (eq checklistSet.id selectedSetId) "active"}}" href="#" {{action (mut selectedSetId) checklistSet.id}}>{{checklistSet.name}}</a>
    </li>
  {{/each}}
</ul>
<h6 class="card-count my-4 opacity-30">{{filteredItems.length}} cards</h6>
<div class="row">
  {{#each filteredItems as |checklistItem|}}
    <div class="col-6 col-sm-4 col-md-3">
      {{card-tile checklistItem=checklistItem checklistItemToOwnedCount=checklistItemToOwnedCount class="mb-4"}}
    </div>
  {{else}}
    <div class="col text-center">
      <h5>
        {{#if ownsZeroCards}}
          <p>You have no cards yet.</p>
          <p>You can get started by {{link-to "buying a pack" "buy-packs"}}.</p>
        {{else}}
          <p>No cards matching those filters.</p>
        {{/if}}
      </h5>
    </div>
  {{/each}}
</div>
