<div class="col">
  {{#unless installMetamaskClicked}}
    <h1 class="install-metamask-title">{{t "install-metamask.title"}}</h1>
    <p class="install-metamask-text">{{t "install-metamask.subtitle"}}</p>
    <a class="install-metamask-link" href="https://medium.com/cryptostrikers/getting-started-how-to-install-metamask-4a2d9c18b4cc" target="_blank">{{t "install-metamask.guide-link"}}</a>
    <br>
    <a class="btn btn-primary btn-lg" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank" {{action (mut installMetamaskClicked) true preventDefault=false}}>{{t "install-metamask.button-text"}}</a>
    <div class="alert alert-danger" role="alert">
      {{t "install-metamask.alert-text"}}
    </div>
  {{else}}
    <h1 class="install-metamask-title">{{t "install-metamask.title2"}}</h1>
    <p class="install-metamask-text">{{t "install-metamask.subtitle2"}}</p>
    <a class="install-metamask-link" href="https://medium.com/cryptostrikers/getting-started-how-to-install-metamask-4a2d9c18b4cc" target="_blank">{{t "install-metamask.guide-link"}}</a>
    <br>
    <button type="button" class="btn btn-primary btn-lg" {{action "forceRefresh"}}>{{t "install-metamask.button-text2"}}</button>
    <div class="alert alert-danger" role="alert">
      {{t "install-metamask.alert-text"}}
    </div>
  {{/unless}}
</div>
