<li class={{if (not-eq step 1) "inactive"}}>{{t "kitty-exchange.choose-kitty"}}</li>
<li class={{if (not-eq step 2) "inactive"}}>{{t "kitty-exchange.give-approval"}}</li>
<li class={{if (not-eq step 3) "inactive"}}>{{t "kitty-exchange.say-goodbye"}}</li>
