<div class="strikers-modal-overlay" onclick={{action (ignore-children reject)}}>
  <div class="strikers-modal-dialog p-4">
    <div class="strikers-modal-title">
      <h1>
        {{#if loadCards.isRunning}}
          Loading...
        {{else if cards}}
          {{user.nickname}}'s cards
        {{else}}
          Select a card
        {{/if}}
      </h1>
      <button type="button" class="close" aria-label="Close" {{action reject}}>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{#if loadCards.isRunning}}
      {{spinkit-cube-grid}}
    {{else if cards}}
      <div class="row">
        {{#each cards as |card|}}
          <div class="col-6 col-md-4 col-lg-3 text-center">
            <div class="modal-card-image-container">
                <img src={{card.checklistItem.filepath}} class="clickable modal-card-image" {{action resolve card}}>
            </div>
            <div class="modal-card-subtitle">{{card.serialNumberString}}</div>
          </div>
        {{/each}}
      </div>
    {{else if checklistItems}}
      <div class="row">
        {{#each checklistItems as |checklistItem|}}
          <div class="col-6 col-md-4 col-lg-3 text-center">
            <div class="modal-card-image-container">
              <img src={{checklistItem.filepath}} class="clickable modal-card-image" {{action resolve checklistItem}}>
            </div>
            <div class="modal-card-subtitle">{{t "modal-trade-picker.any"}}</div>
          </div>
        {{/each}}
      </div>
    {{else}}
      {{#if model.options.checklistItem}}
        <h5>User doesn't have any {{model.options.checklistItem.player.name}}s.</h5>
      {{else}}
        <h5>User has no cards.</h5>
      {{/if}}
    {{/if}}
  </div>
</div>
