<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse">
  {{#if session.isAuthenticated}}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{link-to (t "navbar.buy-packs") "buy-packs" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
      </li>
      <li class="nav-item">
        {{link-to (t "navbar.marketplace") "marketplace" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
      </li>
      <li class="nav-item">
        {{link-to (t "navbar.trade") "create-trade" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
      </li>
      <li class="nav-item">
        {{link-to (t "navbar.play") "play" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
      </li>
    </ul>
  {{/if}}
</div>
<div class="fake-toggler-button d-block d-md-none"></div>
<div class="mx-auto order-0">
  {{#link-to "my-album" class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.show"}}
    <img class="navbar-wordmark d-none d-md-inline" src="/assets/images/wordmark.png">
    <img class="navbar-badge d-md-none" src="/assets/images/shield-logo.svg">
  {{/link-to}}
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse w-100 order-3 dual-collapse">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="#" class="nav-link" {{action "toggleLocale"}} data-toggle="collapse" data-target=".navbar-collapse.show">{{t "navbar.other-language"}}</a>
    </li>
    {{#if session.isAuthenticated}}
      <li class="nav-item">
        {{link-to (t "navbar.my-cards") "my-album" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
      </li>
      <li class="nav-item">
        {{link-to (t "navbar.activity") "activity" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle username-link" data-toggle="dropdown">{{currentUser.user.metadata.nickname}}</a>
        <div class="dropdown-menu dropdown-menu-right">
          {{link-to (t "navbar.earn-cards") "referrals" class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show"}}
          <a href="#" class="dropdown-item" {{action closeSession}}>{{t "navbar.logout"}}</a>
        </div>
      </li>
    {{/if}}
  </ul>
</div>
