{{link-to "CryptoStrikers" "index" class="navbar-brand font-weight-900" data-toggle="collapse" data-target=".navbar-collapse.show"}}
{{#if session.isAuthenticated}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="collapse navbar-collapse" id="navContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {{link-to "Home" "index" class="nav-link d-block d-sm-none" data-toggle="collapse" data-target=".navbar-collapse.show"}}
        </li>
        <li class="nav-item">
          {{link-to "Buy Packs" "crowdsale" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
        </li>
        <li class="nav-item">
          <a href="https://rinkeby.opensea.io/assets" target="_blank" class="nav-link">Marketplace</a>
        </li>
        <li class="nav-item">
          {{link-to "Daily Challenge" "challenge" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
        </li>
        <li class="nav-item">
          {{link-to "My Album" "my-album" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
        </li>
        <li class="nav-item">
          {{link-to "Activity" "activity" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"}}
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{currentUser.user.nickname}}{{#if balance}}<span class="badge badge-pill badge-success ml-1">{{balance}} ETH</span>{{/if}}</a>
          <div class="dropdown-menu dropdown-menu-right">
            {{link-to "Profile" "profile" class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show"}}
            <a href="#" class="dropdown-item" {{action closeSession}}>Logout</a>
          </div>
        </li>
    </ul>
  </nav>
{{else if showSignIn}}
  <nav class="ml-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        {{link-to "Play Now" "sign-in" class="nav-link"}}
      </li>
    </ul>
  </nav>
{{/if}}
