<div class="pack-sale-container">
  <img class="pack-sale-image {{if sale.soldOut "pre-launch"}}" src="/assets/images/{{if sale.isStandard "standard" "premium"}}-pack.png">
  <h5 class="pack-sale-title">{{if sale.isStandard "Standard" "Premium"}} Pack</h5>
  <div class="pack-sale-price">
    {{sale.packPriceInEth}} ETH
  </div>
  {{#if sale.isStandard}}
    <div class="standard-sale-message">
      Available through July 15th<br>
      {{sale.packsSold}} packs sold
    </div>
  {{else}}
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow={{sale.percentComplete}} aria-valuemin="0" aria-valuemax="100" style={{progressBarStyle}}></div>
    </div>
    <span class="sold-count">
      Sold {{sale.packsSold}} of {{sale.maxPacks}}
    </span>
  {{/if}}
  <hr class="pack-sale-divider">
  <h6 class="tier-distribution-title">Tier Distribution</h6>
  <span class="tier-percentages">
    {{#if sale.isStandard}}
      Diamond: 0.72%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gold: 5.76%
      <br>
      Silver: 21.58%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bronze: 71.94%
    {{else}}
      Iconic: 5.00%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diamond: 3.80%
      <br>
      Gold: 19.20%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Silver: 72.00%
    {{/if}}
  </span>
  {{link-to "Player Distribution" "sales" sale.id class="full-distribution-link"}}
</div>
{{#if sale.soldOut}}
  <button type="button" class="btn pack-sale-button" disabled>{{if sale.isStandard "TEMPORARILY UNAVAILABLE" "SOLD OUT"}}</button>
{{else if isOwedFreeReferralPack}}
  <button type="button" class="btn btn-primary btn-lg" {{action claimReferralPack}}>GET MY FREE PACK</button>
{{else if (gt whitelistAllocation 0)}}
  <button type="button" class="btn btn-primary btn-lg" {{action claimWhitelistPack}}>GET MY FREE PACK</button>
{{else}}
  <button type="button" class="btn pack-sale-button" {{action buyPack}}>BUY {{if sale.isStandard "STANDARD" "PREMIUM"}} PACK</button>
{{/if}}
{{#if sale.isStandard}}
  {{#unless hasBurnedKitty}}
    <h6 class="or-separator">OR</h6>
    {{#link-to "kitty-exchange.1" class="btn kitty-sale-button" disabledWhen=sale.soldOut}}
      <img class="kitty-button-image" src="/assets/images/ck-logo.svg">
      BUY WITH CRYPTOKITTY
    {{/link-to}}
  {{/unless}}
{{/if}}
