<div>
  <h4>{{sale.type}}</h4>
  {{#if sale.isFlashSale}}
    <p class="m-0 text-danger">Ends in {{countdownString}}</p>
  {{/if}}
  <p class="m-0">Price: {{if sale.isKittySale "1 CryptoKitty" sale.packPriceInEth}}</p>
  <p class="m-0">Packs remaining: {{sub sale.packsOffered sale.packsSold}}/{{sale.packsOffered}}</p>
  <div class="progress mt-2">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow={{sale.completionPercentage}} aria-valuemin="0" aria-valuemax="100" style="width: {{sale.completionPercentage}}%"></div>
  </div>
</div>
<div class="ml-auto my-auto text-center">
  {{#if sale.isKittySale}}
    {{#link-to "kitty-sale" class="btn btn-dark kitties-button"}}
      <span class="kitties-button-text">Buy</span><img src="/assets/images/ck-logo.svg">
    {{/link-to}}
  {{else}}
    <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#buyPackModal" {{action action sale.id}} disabled={{countdownOver}}>Buy Pack</button>
  {{/if}}
  <p><small>{{link-to "Card distribution" "sales" sale.id}}</small></p>
</div>
