<div class="pack-sale-container">
  <img class="pack-sale-image {{if sale.soldOut "pre-launch"}}{{if noPremiumSaleToday "pre-launch"}}" src="/assets/images/{{if sale.isStandard "standard" "premium"}}-pack.png">
  <h5 class="pack-sale-title">{{if sale.isStandard (t "global.standard-pack") (t "global.premium-pack")}}</h5>
  <div class="pack-sale-price">
    {{#if sale.isStandard}}
      FREE
    {{else}}
      {{sale.packPriceInEth}} ETH
    {{/if}}
  </div>
  {{#if sale.isStandard}}
    <div class="standard-sale-message">
      {{t "buy-packs.columns.available-through"}}<br>
      {{t "buy-packs.columns.packs-sold" packsSold=sale.packsSold}}
    </div>
  {{else if noPremiumSaleToday}}
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow=0 aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <span class="sold-count">
      {{t "buy-packs.columns.sold-of-max" packsSold=0 maxPacks=sale.maxPacks}}
    </span>
  {{else}}
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow={{sale.percentComplete}} aria-valuemin="0" aria-valuemax="100" style={{progressBarStyle}}></div>
    </div>
    <span class="sold-count">
      {{t "buy-packs.columns.sold-of-max" packsSold=sale.packsSold maxPacks=sale.maxPacks}}
    </span>
  {{/if}}
  <hr class="pack-sale-divider">
  <h6 class="tier-distribution-title">{{t "buy-packs.columns.tier-distribution"}}</h6>
  <span class="tier-percentages">
    {{#if sale.isStandard}}
      {{t "global.diamond"}}: 0.72%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{t "global.gold"}}: 5.76%
      <br>
      {{t "global.silver"}}: 21.58%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{t "global.bronze"}}: 71.94%
    {{else}}
      {{t "global.iconic"}}: 5.00%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{t "global.diamond"}}: 3.80%
      <br>
      {{t "global.gold"}}: 19.20%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{t "global.silver"}}: 72.00%
    {{/if}}
  </span>
  {{link-to (t "buy-packs.columns.player-distribution") "sales" sale.id class="full-distribution-link" disabledWhen=noPremiumSaleToday}}
</div>
{{#if noPremiumSaleToday}}
  <button type="button" class="btn pack-sale-button" disabled>NO SALE TODAY</button>
{{else if sale.soldOut}}
  <button type="button" class="btn pack-sale-button" disabled>{{if sale.isStandard "TEMPORARILY UNAVAILABLE" "SOLD OUT"}}</button>
{{else if isOwedFreeReferralPack}}
  <button type="button" class="btn btn-primary btn-lg" {{action claimReferralPack}}>{{t "buy-packs.columns.get-free-pack"}}</button>
{{else if (gt whitelistAllocation 0)}}
  <button type="button" class="btn btn-primary btn-lg" {{action claimWhitelistPack}}>{{t "buy-packs.columns.get-free-pack"}}</button>
{{else}}
  <button type="button" class="btn pack-sale-button" {{action buyPack}}>
    {{#if sale.isStandard}}
      {{t "buy-packs.columns.buy-standard-pack"}}
    {{else}}
      {{t "buy-packs.columns.buy-premium-pack"}}
    {{/if}}
  </button>
{{/if}}
{{#if sale.isStandard}}
  {{#unless hasBurnedKitty}}
    <h6 class="or-separator">{{t "buy-packs.columns.or"}}</h6>
    {{#link-to "kitty-exchange.1" class="btn kitty-sale-button" disabledWhen=sale.soldOut}}
      <img class="kitty-button-image" src="/assets/images/ck-logo.svg">
      {{t "buy-packs.columns.buy-with-cryptokitty"}}
    {{/link-to}}
  {{/unless}}
{{/if}}
