<div class="col">
  <h2 class="referrals-link-title">Get the Word Out</h2>
  {{#if (gt packsBought 0)}}
    {{#if referralCode}}
      <div class="input-group">
        {{input class="form-control" value=referralUrl readonly=true}}
        <div class="input-group-append">
          {{#copy-button clipboardText=referralUrl success=(action "copySuccess") class="btn btn-outline-dark"}}
            {{if flashText "COPIED!" "COPY"}}
          {{/copy-button}}
        </div>
      </div>
      <p class="referral-link-details">(Once you save your custom link, you cannot change it)</p>
    {{else}}
      <form {{action "createReferralCode" newReferralCode on="submit"}}>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">cryptostrikers.com/invite/</span>
          </div>
          {{input class="form-control" value=newReferralCode placeholder="your-custom-code" required=true}}
        </div>
        <p class="referral-link-details text-danger">{{errorMessage}}</p>
        <p class="referral-link-details">(Once you save your custom link, you cannot change it)</p>
        <button type="submit" class="btn btn-strikers">SAVE</button>
      </form>
    {{/if}}
  {{else}}
    <p class="no-packs-bought">To get your referral link, you must have {{link-to "purchased at least 1 pack" "buy-packs"}}.</p>
  {{/if}}
</div>
