<div class="col">
  <h1 class="referrals-header-title">{{t "referrals-header.title"}}</h1>
  <div class="row referrals-header-rewards">
    <div class="col-sm mb-5 mb-sm-0">
      <h1>8</h1>
      <h2>{{t "referrals-header.bonus-cards"}}</h2>
    </div>
    <div class="col-sm">
      <h1>10%</h1>
      <h2>{{t "referrals-header.commission"}}</h2>
    </div>
  </div>
  <p class="referrals-header-text">{{t "referrals-header.line1"}}</p>
  <p class="referrals-header-text">{{t "referrals-header.line2"}}</p>
  <p class="referrals-header-text">{{#link-to "buy-packs"}}{{t "referrals-header.line3a"}}{{/link-to}} {{t "referrals-header.line3b" htmlSafe=true}}</p>
</div>
