{{trade-partner-row counterpartyAddress=counterpartyAddress counterpartyAddressError=counterpartyAddressError}}
<div class="row mb-4">
  <div class="col">
    {{#if trade}}
      <p>Trade created by: {{if isMyTrade "you" trade.maker}}</p>
      <p>Trade open to: {{trade.takerString}}</p>
    {{/if}}
  </div>
</div>
{{#if makerChecklistItem}}
  <div class="row mb-4">
    <div class="col text-center">
      <h5>To fill this trade, you must give a {{makerChecklistItem.player.name}}.</h5>
    </div>
  </div>
{{/if}}
{{
  trade-cards
  counterpartyAddress=counterpartyAddress
  counterpartyAddressError=counterpartyAddressError
  counterpartyCard=counterpartyCard
  counterpartyChecklistItem=counterpartyChecklistItem
  makerCard=makerCard
  takerCard=takerCard
  takerChecklistItem=takerChecklistItem
  selectedCardLeft=selectedCardLeft
}}
<div class="row py-5">
  <div class="col">
    {{#if isMyTrade}}
      <button type="button" class="btn btn-primary btn-lg" {{action cancelTrade}} disabled={{cancelEvent}}>
        {{#if cancelEvent}}
          Already Cancelled
        {{else}}
          Cancel Trade
        {{/if}}
      </button>
    {{else if trade}}
      <button type="button" class="btn btn-primary btn-lg" {{action acceptTrade (if makerCard makerCard.id selectedCardLeft.id)}} disabled={{fillEvent}}>
        {{#if fillEvent}}
          Already Filled
        {{else}}
          Accept Trade
        {{/if}}
      </button>
    {{else}}
      <button type="button" class="btn btn-primary btn-lg" {{action "createTradeClicked"}} disabled={{createButtonDisabled}}>Create Trade</button>
    {{/if}}
  </div>
</div>
