{{trade-partner-row counterpartyAddress=counterpartyAddress counterpartyAddressError=counterpartyAddressError}}
<div class="row mb-4">
  <div class="col">
    {{#if trade}}
      <p>Trade created by: {{if isMyTrade "you" trade.maker}}</p>
      <p>Trade open to: {{trade.takerString}}</p>
    {{/if}}
  </div>
</div>
{{#if makerChecklistItem}}
  <div class="row mb-4">
    <div class="col text-center">
      <h5>To fill this trade, you must give a {{makerChecklistItem.player.name}}.</h5>
    </div>
  </div>
{{/if}}
{{
  trade-cards
  counterpartyAddress=counterpartyAddress
  counterpartyAddressError=counterpartyAddressError
  counterpartyCard=counterpartyCard
  counterpartyChecklistItem=counterpartyChecklistItem
  selectedCardLeft=selectedCardLeft
}}
<div class="row{{if counterpartyAddressError " opacity-30"}}">



  <div class="col">
    {{#if makerCard}}
      <img src={{makerCard.checklistItem.filepath}} class="img-fluid">
      <p>{{makerCard.prettyString}}</p>
    {{/if}}
  </div>




  <div class="col">
    {{#if takerCard}}
      <img src={{takerCard.checklistItem.filepath}} class="img-fluid">
      <p>{{takerCard.prettyString}}</p>
    {{else if takerChecklistItem}}
      <img src={{takerChecklistItem.filepath}} class="img-fluid">
      <p>Any {{takerChecklistItem.player.name}}</p>
    {{/if}}
  </div>




</div>
<div class="row mt-4">
  <div class="col text-center">
    {{#if isMyTrade}}
      <button type="button" class="btn btn-success mt-2" {{action cancelTrade}}>Cancel Trade</button>
    {{else if trade}}
      <button type="button" class="btn btn-success mt-2" {{action acceptTrade (if makerCard makerCard.id selectedCardLeft.id)}}>Accept Trade</button>
    {{else}}
      <button type="button" class="btn btn-primary btn-lg mt-2" {{action "createTradeClicked"}} disabled={{createButtonDisabled}}>Create Trade</button>
    {{/if}}
  </div>
</div>
