<div class="card-container card-container-left">
  <div class="card-container-info">
    <h3 class="card-container-title">{{t "trade-cards.card-ill-give"}}</h3>
    <h4 class="card-container-subtitle">
      {{#if makerCard}}
        {{makerCard.prettyString}}
      {{else if selectedCardLeft}}
        {{selectedCardLeft.prettyString}}
      {{else}}
        {{t "trade-cards.pick-a-card"}}
      {{/if}}
    </h4>
  </div>
  {{#if makerCard}}
    <img src={{makerCard.checklistItem.filepath}} class="card-container-image">
  {{else if selectedCardLeft}}
    <img src={{selectedCardLeft.checklistItem.filepath}} class="card-container-image {{unless counterpartyAddressError "clickable"}}" {{action "placeholderClicked" true}}>
  {{else}}
    <div class="card-container-placeholder {{unless counterpartyAddressError "clickable"}}" {{action "placeholderClicked" true}}>
      <h5 class="placeholder-title">{{t "trade-cards.click-here"}}</h5>
    </div>
  {{/if}}
</div>
<div class="card-container card-container-right">
  <div class="card-container-info order-2 order-sm-0">
    <h3 class="card-container-title">{{t "trade-cards.card-ill-get"}}</h3>
    <h4 class="card-container-subtitle">
      {{#if takerCard}}
        {{takerCard.prettyString}}
      {{else if takerChecklistItem}}
        Any {{takerChecklistItem.player.name}}
      {{else if counterpartyCard}}
        {{counterpartyCard.prettyString}}
      {{else if counterpartyChecklistItem}}
        Any {{counterpartyChecklistItem.player.name}}
      {{else}}
        {{t "trade-cards.pick-a-card"}}
      {{/if}}
    </h4>
  </div>
  {{#if takerCard}}
    <img src={{takerCard.checklistItem.filepath}} class="card-container-image">
  {{else if takerChecklistItem}}
    <img src={{takerChecklistItem.filepath}} class="card-container-image">
  {{else if counterpartyCard}}
    <img src={{counterpartyCard.checklistItem.filepath}} class="card-container-image {{unless counterpartyAddressError "clickable"}}" {{action "placeholderClicked" false}}>
  {{else if counterpartyChecklistItem}}
    <img src={{counterpartyChecklistItem.filepath}} class="card-container-image {{unless counterpartyAddressError "clickable"}}" {{action "placeholderClicked" false}}>
  {{else}}
    <div class="card-container-placeholder {{unless counterpartyAddressError "clickable"}}" {{action "placeholderClicked" false}}>
      <h5 class="placeholder-title">{{t "trade-cards.click-here"}}</h5>
    </div>
  {{/if}}
</div>
<img class="trade-icon" src="/assets/images/trade-icon.svg">
