<div class="col">
  <h3 class="trade-partner-row-title">{{t "trade-partner-row.title"}}</h3>
  {{#if counterpartyUser}}
    <h2 class="trade-partner-nickname">{{counterpartyUser.nickname}}</h2>
    <h5 class="trade-partner-address">{{counterpartyUser.id}}</h5>
    {{#unless hideRemove}}
      <button type="button" class="btn remove-button" {{action (mut counterpartyAddress) null}}>{{t "trade-partner-row.remove"}}</button>
    {{/unless}}
  {{else}}
    <p class="trade-partner-row-text">{{t "trade-partner-row.line1"}}</p>
    <p class="trade-partner-row-text">{{t "trade-partner-row.line2"}}</p>
    {{input value=counterpartyAddress class="form-control form-control-lg" placeholder=(t "trade-partner-row.placeholder")}}
    <span class="text-danger">{{counterpartyAddressError}}</span>
  {{/if}}
</div>
