{{#if isMyTrade}}
  {{trade-partner-row counterpartyAddress=trade.taker hideRemove=true}}
{{else if trade}}
  {{trade-partner-row counterpartyAddress=trade.maker hideRemove=true}}
{{else}}
  {{trade-partner-row counterpartyAddress=counterpartyAddress counterpartyAddressError=counterpartyAddressError}}
{{/if}}
{{#if makerChecklistItem}}
  <div class="row mb-4">
    <div class="col">
      <h5>To fill this trade, you must give a {{makerChecklistItem.player.name}}.</h5>
    </div>
  </div>
{{else if notOpenToMe}}
  <div class="row mb-4">
    <div class="col">
      <h5 class="text-danger">This trade is not open to you.</h5>
    </div>
  </div>
{{/if}}
{{
  trade-cards
  counterpartyAddress=counterpartyAddress
  counterpartyAddressError=counterpartyAddressError
  counterpartyCard=counterpartyCard
  counterpartyChecklistItem=counterpartyChecklistItem
  makerCard=makerCard
  makerChecklistItem=makerChecklistItem
  takerCard=takerCard
  takerChecklistItem=takerChecklistItem
  selectedCardLeft=selectedCardLeft
}}
<div class="row py-5">
  <div class="col">
    {{#if notOpenToMe}}
      <button type="button" class="btn btn-primary btn-lg" disabled>NOT OPEN TO YOU</button>
    {{else if cancelEvent}}
      <button type="button" class="btn btn-primary btn-lg" disabled>Already Cancelled</button>
    {{else if fillEvent}}
      <button type="button" class="btn btn-primary btn-lg" disabled>Already Filled</button>
    {{else if isMyTrade}}
      <button type="button" class="btn btn-primary btn-lg" {{action cancelTrade}}>Cancel Trade</button>
    {{else if trade}}
      <button type="button" class="btn btn-primary btn-lg" {{action acceptTrade (if makerCard makerCard.id selectedCardLeft.id)}} disabled={{acceptButtonDisabled}}>Accept Trade</button>
    {{else}}
      <button type="button" class="btn btn-primary btn-lg" {{action "createTradeClicked"}} disabled={{createButtonDisabled}}>Create Trade</button>
    {{/if}}
  </div>
</div>
