<div class="row mb-4">
  <div class="col">
    <h4>Step 1</h4>
    <h5>Who do you want to trade with?</h5>
    <h5>(Leave blank for an "open-ended" trade.)</h5>
    <h5>Benn: 0x1bCd7FC3Aa5EA863D52a54827f21f42e1AC2ef47</h5>
    <h5>Gianni: 0x3DbCe7daFF19F3F3169A705341D513a69E3CC40a</h5>
    {{input value=counterpartyAddress class="form-control form-control-lg" placeholder="A valid Ethereum address"}}
    <span class="text-danger">{{counterpartyAddressError}}</span>
  </div>
</div>
<div class="row{{if counterpartyAddressError " opacity-30"}}">
  <div class="col-12"><h4>Step 2 - Trading with {{if counterpartyUser counterpartyUser.nickname "anybody"}}</h4></div>
  <div class="col"><h5>Card I'll Give</h5></div>
  <div class="col"></div>
  <div class="col"><h5>Card I'll Get</h5></div>
</div>
<div class="row{{if counterpartyAddressError " opacity-30"}}">
  <div class="col">
    {{#if myCard}}
      <img src={{myCard.checklistItem.filepath}} class="img-fluid clickable" {{action "placeholderClicked" true}}>
    {{else}}
      <div class="trade-placeholder clickable d-flex" {{action "placeholderClicked" true}}>
        {{fa-icon "plus-circle" size="2x" class="m-auto"}}
      </div>
    {{/if}}
  </div>
  <div class="col d-flex">
    <img class="trade-icon m-auto" src="/assets/images/trade.svg">
  </div>
  <div class="col">
    {{#if counterpartyCard}}
      <img src={{counterpartyCard.checklistItem.filepath}} class="img-fluid clickable" {{action "placeholderClicked"}}>
    {{else if counterpartyChecklistItem}}
      <img src={{counterpartyChecklistItem.filepath}} class="img-fluid clickable" {{action "placeholderClicked"}}>
    {{else}}
      <div class="trade-placeholder clickable d-flex" {{action "placeholderClicked"}}>
        {{fa-icon "plus-circle" size="2x" class="m-auto"}}
      </div>
    {{/if}}
  </div>
</div>
<div class="row mt-4">
  <div class="col text-center">
    {{input class="form-control form-control-lg" value=tradeHash readonly=true}}
    {{input class="form-control form-control-lg" value=solidityTradeHash.content readonly=true}}
    <button type="button" class="btn btn-success mt-2" {{action "createTrade" tradeHash}}>Create Trade</button>
  </div>
</div>
