<div class="col">
  <h1 class="welcome-header-title">{{t "sign-in.title"}}</h1>
  <p class="welcome-header-text">{{t "sign-in.subtitle1"}}</p>
  <br>
  <p class="welcome-header-text">{{t "sign-in.subtitle2"}}</p>
  <br>
  <p class="welcome-header-text">{{t "sign-in.subtitle3"}}</p>
  {{#if referrer}}
    <div class="alert alert-primary" role="alert">
      <h5 class="alert-heading">{{t "sign-in.invited-by" nickname=referrer.nickname htmlSafe=true}}</h5>
      <hr>
      {{#if (lt referralPacksClaimed 5000)}}
        <p class="mb-0">{{t "sign-in.invited-line1"}}</p>
        <p class="mb-0">{{t "sign-in.free-packs-remaining"}}<span>{{sub 5000 referralPacksClaimed}}/5000</span></p>
      {{/if}}
      <p class="mb-0">{{t "sign-in.invited-line2"}}</p>
    </div>
  {{/if}}
</div>
