<div class="container kitty-container">
  {{kitties-header step=1}}
  <div class="kitty-text">
    <p>{{t "kitty-exchange.1-line1"}}</p>
    <p>{{t "kitty-exchange.1-line2" kittyCount=model}}</p>
    <p>{{t "kitty-exchange.1-line3" htmlSafe=true}}</p>
    <p>{{t "kitty-exchange.1-line4" htmlSafe=true}}</p>
    <form {{action "checkOwnership" kittyId on="submit"}}>
      {{input value=kittyId type="text" placeholder=(t "kitty-exchange.1-placeholder") class="form-control" required=true}}
      <button type="submit" class="btn btn-primary btn-lg">{{t "kitty-exchange.1-button"}}</button>
      {{#if errorMessage}}
        <br>
        <span class="text-danger">{{errorMessage}}</span>
      {{/if}}
    </form>
  </div>
</div>
