<div class="container kitty-container">
  {{kitties-header step=2}}
  <div class="kitty-text">
    <img class="kitty-image" src={{model.imageUrl}} style={{model.bgStyle}}>
    <p>{{t "kitty-exchange.2-line1" kittyName=model.name htmlSafe=true}}</p>
    <p>{{t "kitty-exchange.2-line2"}}</p>
    <p>{{t "kitty-exchange.2-line3"}}</p>
    <button type="button" class="btn btn-primary btn-lg" {{action "approveClicked" model.id}}>{{t "kitty-exchange.2-button"}}</button>
  </div>
</div>
