<h1>Whitelist</h1>
<h5>Standard whitelist count: {{model.standardWhitelistCount}}/1000</h5>
{{input value=newStandardAddress placeholder="Add standard address"}}<button {{action "addAddress" false newStandardAddress}}>Add</button>
<br><br>
{{textarea value=bulkStandardAddresses placeholder="Bulk standard addresses"}}
<button {{action "addBulkStandardAddresses" bulkStandardAddresses}}>ADD BULK</button>
<br>
<h5>Premium whitelist count: {{model.premiumWhitelistCount}}/500</h5>
{{input value=newPremiumAddress placeholder="Add premium address"}}<button {{action "addAddress" true newPremiumAddress}}>Add</button>
<br><br>
{{textarea value=bulkPremiumAddresses placeholder="Bulk premium addresses"}}
<button {{action "addBulkPremiumAddresses" bulkPremiumAddresses}}>ADD BULK PREMIUM</button>
