<div class="container">
  {{#strikers-row title=(t "activity.title")}}
    <p class="activity-header-text">{{t "activity.subtitle"}}</p>
  {{/strikers-row}}
</div>
<hr class="activity-divider">
<div class="container">
  {{#each sortedActivities as |activity|}}
    {{activity-cell activity=activity}}
  {{else}}
    <div class="text-center">
      <p>{{t "activity.no-activity"}}</p>
      <p>{{#link-to "buy-packs"}}{{t "activity.buy-a-pack"}}{{/link-to}}</p>
    </div>
  {{/each}}
</div>
