<div class="container">
  {{#if cards}}
    {{#strikers-row title=(t "card-flip.title")}}
      <p>{{t "card-flip.subtitle1"}}</p>
      <p>{{link-to (t "card-flip.subtitle2") "my-album" class="text-gold"}}</p>
    {{/strikers-row}}
    <div class="row">
      {{#each cards as |card|}}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          {{flippable-card checklistItem=card.checklistItem flippable=true}}
        </div>
      {{/each}}
    </div>
  {{else if firstCheckDone}}
    {{#strikers-row title=(t "minting-video.title")}}
      <p>{{t "minting-video.subtitle-1"}}</p>
      <p>{{t "minting-video.subtitle-2a"}} {{#link-to "activity.index"}}{{t "minting-video.subtitle-2b"}}{{/link-to}}</p>
      <p>{{t "minting-video.subtitle-3" videoDescription=model.video.description}}</p>
      <div class="youtube-container-container">
        <div class="youtube-container">
          <iframe src="https://www.youtube.com/embed/{{model.video.videoId}}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    {{/strikers-row}}
  {{/if}}
</div>
