<div class="container">
  {{#if cards}}
    {{#strikers-row title="Flip Your Cards!"}}
      <p>Click the cards to reveal your new players.</p>
      <p>When you're done, {{link-to "click here" "my-album" class="text-gold"}} to go see how they look with the rest of your squad.</p>
    {{/strikers-row}}
    <div class="row">
      {{#each cards as |card|}}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          {{flippable-card checklistItem=card.checklistItem flippable=true}}
        </div>
      {{/each}}
    </div>
  {{else if firstCheckDone}}
    {{#strikers-row title="Transaction Submitted"}}
      <p>Hang tight, this transaction hasn't been mined yet...</p>
      <p>While you wait, why don't you watch {{model.video.description}}.</p>
      <div class="youtube-container-container">
        <div class="youtube-container">
          <iframe src="https://www.youtube.com/embed/{{model.video.videoId}}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    {{/strikers-row}}
  {{/if}}
</div>
