{{#if onlyShowLanding}}
  {{email-capture-page}}
{{else}}
  {{navigation-bar closeSession=(action "closeSession") stats=model.stats}}
  <main role="main">
    {{outlet}}
  </main>
  {{modal-container}}
{{/if}}
