{{#unless (eq currentRouteName "index")}}
  {{navigation-bar closeSession=(action "closeSession")}}
{{/unless}}
<main role="main" class={{unless (eq currentRouteName "index") "padded-main"}}>
  {{outlet}}
</main>
{{#unless (eq currentRouteName "index")}}
  <footer class="footer">
    <div class="container">
      <span class="footer-text">{{t "footer.disclaimer"}}</span>
    </div>
  </footer>
{{/unless}}
{{modal-container}}
