<div class="container">
  {{#if model.isPaused}}
    <div class="text-center">
      SALE IS PAUSED
    </div>
  {{else}}
    {{#strikers-row title=(t "buy-packs.header.title") class="buy-packs-header"}}
      <p>
        {{t "buy-packs.header.line1"}}<br>
        {{t "buy-packs.header.line2"}}<br>
        {{t "buy-packs.header.line3"}}<br>
        {{t "buy-packs.header.line4"}}<br>
        {{t "buy-packs.header.line5"}}
      </p>
      {{#if shouldShowAlert}}
        <div class="alert alert-primary" role="alert">
          {{t "buy-packs.header.free-pack-alert" alertText=alertText htmlSafe=true}}
        </div>
      {{/if}}
    {{/strikers-row}}
    {{card-of-the-day-header checklistItem=model.globals.checklistItemOfTheDay}}
    <div class="row">
      <div class="col-md mb-5">
        {{
          pack-sale-column
          sale=model.standardSale
          buyPack=(action "buyPack" model.standardSale)
          claimReferralPack=(action "claimReferralPack")
          claimWhitelistPack=(action "claimWhitelistPack" false)
          hasBurnedKitty=model.hasBurnedKitty
          isOwedFreeReferralPack=isOwedFreeReferralPack
          whitelistAllocation=model.standardWhitelistAllocation
        }}
      </div>
      <div class="col-md mb-5">
        {{pack-sale-column sale=model.premiumSale buyPack=(action "buyPack" model.premiumSale) claimWhitelistPack=(action "claimWhitelistPack" true) whitelistAllocation=model.premiumWhitelistAllocation}}
      </div>
    </div>
  {{/if}}
</div>
