<div class="container">
  {{#strikers-row title=(t "create-trade.title")}}
    <p>{{t "create-trade.subtitle1"}}</p>
    <p>{{t "create-trade.subtitle2"}}</p>
    <p>{{t "create-trade.subtitle3" htmlSafe=true}}</p>
    <div class="alert alert-primary" role="alert">
      {{t "create-trade.alert"}}
    </div>
  {{/strikers-row}}
</div>
{{trading-container createTrade=(action "createTrade")}}
