<div class="row text-center mb-3">
  <div class="col">
    <h1>Packs are free for now! Just pay gas.</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
    <img class="img-fluid mb-4 mb-md-0" src="http://via.placeholder.com/300x420">
  </div>
  <div class="col-md-8">
    <p>Build your collection by buying packs of cards.</p>
    <p>Each pack contains 4 cards.</p>
    <p>Cards must be bought with Ethereum. To fund your account, send ETH to your {{link-to "wallet address" "deposit" class="card-link"}} or buy ETH here.</p>
    <p>Cards will be on sale until the final whistle blows for the June 15th final.</p>
    <span class="font-weight-bold">
      <p>Current run number = {{model.currentRunNumber}}</p>
      <p>Sale state [WaitingForNextMint, Minting, DoneMinting, Selling, SalePaused, SaleComplete] = {{model.contractState}}</p>
      <p>Packs sold for run (maybe have a progress bar here) = {{model.packsSoldForRun}}/{{model.packsMintedForRun}}</p>
      <p>Total packs minted (vs hard cap) = {{model.totalPacksMinted}}/{{model.packsMintedLimit}}</p>
    </span>
    <button class="btn btn-success" {{action 'buyPack'}}><span class="font-weight-bold">BUY</span> {{packPrice}} ETH</button>
  </div>
</div>
