<h2>Step 1/3</h2>
<h3>Geez, you're about to sacrifice an innocent cat for a free pack of cards? Savage.</h3>
<p>First, you need to pick which one of your cats you want to trade in and get its kitty ID.</p>
<p>To see all your cats, <a href="https://www.cryptokitties.co/my-kitties" target="_blank">go here</a>, click into the cat you want to sell, and grab its ID from the URL.</p>
<p>Then enter it below so we can verify that you're actually the owner:</p>
<form {{action "checkOwnership" kittyId on="submit"}}>
  {{input value=kittyId type="text" placeholder="Kitty ID"}}
  <button type="submit" class="mr-1">Submit</button>
  <span class="text-danger">{{errorMessage}}</span>
</form>
{{#if verifiedKittyId}}
  <h2>Step 2/3</h2>
  <h3>Ok awesome! Cute cat btw.</h3>
  <p>TODO: picture of cat here?</p>
  <p>Now the first step to giving him away: you have to give <strong>approval</strong> to our contract, which allows us to exchange the cute kitty for a pack of cards.</p>
  <p>Click the button below to grant approval to our contract:</p>
  <button type="button" class="btn btn-success" {{action "approveKitty" verifiedKittyId}}>Approve</button>
{{/if}}
{{#if transactionHash}}
  <h2>Step 3/3</h2>
  <p>Ok, the transaction is now processing here: {{transactionHash}}</p>
  <p>We figure you know what you're doing, so once it's been mined successfully, come back here and hit the Get Free Pack button below:</p>
  <button type="button" class="btn btn-success" {{action "getFreePack" verifiedKittyId}}>Get Free Pack</button>
{{/if}}
