<div class="container text-center">
  {{#if metamaskWatcher.currentAccount}}
  {{welcome-header referralPacksClaimed=model.referralPacksClaimed referrer=(unless model.existingUser model.referrer)}}
    <div class="sign-in-form">
      <h2 class="sign-in-form-title">
        {{#if model.existingUser.nickname}}
          Welcome back {{model.existingUser.nickname}}!
        {{else}}
          {{t "sign-in.account-details"}}
        {{/if}}
      </h2>
      <form {{action (perform signIn) on="submit"}}>
        <div class="form-group text-left">
          <label for="walletAddressInput">{{t "sign-in.wallet-address"}}</label>
          <input class="form-control form-control-lg" type="text" placeholder={{metamaskWatcher.currentAccount}} id="walletAddressInput" readonly>
        </div>
        {{#unless model.existingUser}}
          <div class="form-group text-left">
            <label for="emailAddressInput">{{t "sign-in.email-address"}}</label>
            {{input value=emailAddress class="form-control form-control-lg" type="email" autocomplete="email" placeholder=(t "sign-in.placeholder-email") id="emailAddressInput" aria-describedby="emailHelp" required=true}}
            <small id="emailHelp" class="form-text text-muted">{{t "sign-in.never-share"}}</small>
          </div>
          <div class="form-group text-left">
            <label for="nicknameInput">{{t "sign-in.nickname"}}</label>
            {{input value=nickname class="form-control form-control-lg" type="text" placeholder=(t "sign-in.placeholder-nickname") id="nicknameInput" aria-describedby="nicknameHelp" required=true}}
            <small id="nicknameHelp" class="form-text text-muted">{{t "sign-in.nickname-subtitle"}}</small>
          </div>
          {{#unless model.referrer}}
            <div class="form-group text-left">
              <label for="promoCodeInput">Promo code</label>
              {{input value=promoCode class="form-control form-control-lg" type="text" placeholder="CODE" id="promoCodeInput"}}
            </div>
          {{/unless}}
          <div class="sign-in-checkboxes text-left">
            <p class="terms-message">{{t "sign-in.terms-message" htmlSafe=true}}</p>
            <div class="form-check">
              {{input id="termsCheckbox" type="checkbox" class="form-check-input" required=true}}
              <label class="form-check-label" for="termsCheckbox">{{t "sign-in.terms-checkbox"}}</label>
            </div>
            <div class="form-check">
              {{input id="privacyCheckbox" type="checkbox" class="form-check-input" required=true}}
              <label class="form-check-label" for="privacyCheckbox">{{t "sign-in.privacy-checkbox"}}</label>
            </div>
            <div class="form-check">
              {{input id="emailCheckbox" type="checkbox" checked=confirmedEmail class="form-check-input"}}
              <label class="form-check-label" for="emailCheckbox">{{t "sign-in.email-checkbox"}}</label>
            </div>
          </div>
        {{/unless}}
        <button type="submit" class="btn btn-lg btn-primary" disabled={{signIn.isRunning}}>
          {{#if getSignature.isRunning}}
            {{t "sign-in.waiting-signature"}}
          {{else if verifySignature.isRunning}}
            {{t "sign-in.verifying-signature"}}
          {{else if openSession.isRunning}}
            {{t "sign-in.signing-in"}}
          {{else if model.existingUser}}
            Log In
          {{else}}
            {{t "sign-in.create-account"}}
          {{/if}}
        </button>
      </form>
    </div>
  {{else if web3.wrongNetwork}}
    {{wrong-network networkName=web3.networkToSwitchTo}}
  {{else if web3.metamaskDetected}}
    {{unlock-metamask}}
  {{else}}
    {{install-metamask class="d-none d-sm-flex"}}
    {{#strikers-row title="Uh Oh!" class="d-sm-none"}}
      <p>To play CryptoStrikers on mobile, you need a special Ethereum browser like <span class="text-gold">Cipher</span>, <span class="text-gold">Toshi</span>, or <span class="text-gold">Trust Wallet</span>. All three browsers are available for both iOS and Android. Click one of the buttons below to find out more.</p>
      <a href="https://www.cipherbrowser.com/" target="_blank"><img class="browser-image cipher" src="/assets/images/cipher.png"></a><br>
      <a href="https://www.toshi.org/" target="_blank"><img class="browser-image" src="/assets/images/toshi.png"></a><br>
      <a href="https://trustwalletapp.com/" target="_blank"><img class="browser-image" src="/assets/images/trust-wallet.png"></a>
    {{/strikers-row}}
  {{/if}}
</div>
