<div class="text-center">
  {{#if metamaskWatcher.currentAccount}}
    <h2>Welcome to CryptoStrikers</h2>
    <p>To get started, please select your flag, enter your email address, and choose a nickname.</p>
    <form {{action "submit" on="submit"}}>
      <div class="form-group text-left">
        <label for="walletAddressInput">Wallet address</label>
        <input class="form-control form-control-lg" type="text" placeholder={{metamaskWatcher.currentAccount}} id="walletAddressInput" readonly>
      </div>
      <div class="form-group text-left">
        <label for="emailAddressInput">Email address</label>
        {{input value=emailAddress class="form-control form-control-lg" type="email" placeholder="example@cryptostrikers.com" id="emailAddressInput" aria-describedby="emailHelp" required=true}}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group text-left">
        <label for="nicknameAddressInput">Nickname</label>
        {{input value=nickname class="form-control form-control-lg" type="text" placeholder="Rare Striker" id="nicknameAddressInput" required=true}}
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>
    {{if token token}}
  {{else if web3.metamaskDetected}}
    <h2>Please log in to your MetaMask account</h2>
  {{else}}
    <h2>Please install MetaMask</h2>
  {{/if}}
</div>
